<body class="home">
	<h2>The Golden Bachelor</h2>

	<ul class = "contestant-list">
	  <% @contestants.each do |contestant| %>
	  	<% if contestant.eliminated_ep.nil? %>
		    <li>
	      	<div class = "list-photo">
	      		<%= link_to contestant do %>
	      			<%= image_tag "/photos/#{contestant.person.name}.png" %>
	      		<% end %>
	      	</div>

		    	<span class = "contestant-link">
		    		<%= link_to contestant do %> 
		    			<%= contestant.person.name %>
		      	<% end %>
		      </span>
		    </li>
		<% end %>
	  <% end %>
	</ul>

	<ul class = "contestant-list eliminated">
	  <% @contestants.each do |contestant| %>
	  	<% if !contestant.eliminated_ep.nil? %>
		    <li>
		    	<div class = "list-photo">
	      		<%= link_to contestant do %>
	      			<%= image_tag "/photos/#{contestant.person.name}.png" %>
	      		<% end %>
	      	</div>

		    	<span class = "contestant-link">
		    		<%= link_to contestant do %> 
		    			<%= contestant.person.name %>
		      	<% end %>
		      </span>
		    </li>
		<% end %>
	  <% end %>
	</ul>

	<p class = "footer">Created by Elizabeth Ford</p>
</body>