<h1>Golden Bachelor Season 1</h1>

<ul class = "contestant-list">
  <% @contestants.each do |contestant| %>
  	<% if contestant.eliminated_ep.nil? %>
	    <li>
	      <%= link_to contestant do %> 
	      	<%= image_tag "/photos/#{contestant.person.name}.png" %>
	    	<br />
	    	<%= contestant.person.name %>
	      <% end %>
	    </li>
	<% end %>
  <% end %>


  <ul class = "contestant-list eliminated">
  <% @contestants.each do |contestant| %>
  	<% if !contestant.eliminated_ep.nil? %>
	    <li>
	    	
	      <%= link_to contestant do %> 
	      	<%= image_tag "/photos/#{contestant.person.name}.png" %>
	      	<br />
	    	<%= contestant.person.name %>
	      <% end %>
	    </li>
	<% end %>
  <% end %>
</ul>

<p class = "footer">Created by Elizabeth Ford</p>