<h1><%= @contestant.person.name %></h1>
<%= image_tag "/photos/#{@contestant.person.name}.png", :class => "big-pic" %>

<ul class = "contestant-notes">
<li><%= @contestant.age %></li>
<li><%= @contestant.hometown %></li>
<li><%= @contestant.occupation %></li>
<li><%= @contestant.eliminated_string %></li>
<% if !@contestant.notes.nil? && @contestant.notes.size > 0 %>
	<li>
		<% @contestant.notes.each do |note| %>
			<li>
				<%= note.body %>
			</li>
		<% end %>
	</li>
<% end %>
</ul>